<ion-view view-title="Find">
<ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="list in lists" type="item-text-wrap" href="#/tab/chats">
        <img ng-src="{{list.profilePic}}">
        <h2>{{list.name}}</h2>
        <p>{{list.location}}</p>
        <p>last order: {{list.end}}</p>
        <p>Deliver by: {{list.deliverBy}}</p>
        <p>premium: {{list.premium}}</p>  
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
